#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.rellax {
  height: 200px;
  margin: 50px 0;
  text-align: center;
  font-size: 2em;
  color: white;
  background-color: black;
}